/* Universal CSS */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    
}

/* First banner Section Design */

.frist-banner-container{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    background-color: #FCEEF1;
    

}

.heading{
    font-weight: 900;
    font-size: 50px;
    color: #272727;
    
}

.description{
    margin-top: 20px;
    color: #797979;
}



.first-banner-img{
    width: 400px;
    margin-left: 100px;
}

.btn-primary{
    padding: 20px 40px;
    background-color: #E55473;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 16px;

}

/* Our feature Banner Section title CSS  */

.feature-flower{
    text-align: center;
    margin-top: 100px;
}

/*  Our feature Banner Section Box CSS  */

.Box-container{
    height: 500px;
    width: 500px;
    /* background-color: red; */
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 195px;
   
    gap: 20px;
}

.box-one{
    background-color: #e7c0d2;
    
    height: 250px;
    width: 900px;
    border-radius: 300px 300px 0px 0px;
    padding: 15px;
}

.box-two{
    background-color: #D9EFF1;
    height: 250px;
    width: 900px;
    border-radius: 300px 300px 0px 0px;
    padding: 15px;
}

.box-three{
    background-color: #E3EBDB;
    height: 250px;
    width: 900px;
    border-radius: 300px 300px 0px 0px;
    padding: 15px;
}

.box-img{
    width: 200px;
    margin-top: 70px;
    height: 195px;
}

.info-box-container{
    display: flex;
    margin: auto;
    gap: 20px;
    width: 50%;
    text-align: center;
}