/* Universal CSS */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    
    
}

/* First banner Section Design */

.frist-banner-container{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    background-color: #FCEEF1;
    

}

.heading{
    font-weight: 900;
    font-size: 35px;
    color: #272727;
    
}

.description{
    margin-top: 15px;
    color: #797979;
}



.first-banner-img{
    width: 300px;
    margin-left: 80px;
}

.btn-primary{
    padding: 15px 30px;
    background-color: #E55473;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}

/* Our feature Banner Section title CSS  */

.feature-flower{
    text-align: center;
    margin-top: 100px;
}

/*  Our feature Banner Section Box CSS  */

.Box-container{
    height: 500px;
    width: 500px;
    /* background-color: red; */
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 150px;
   
    gap: 20px;
}

.box-one{
    background-color: #e7c0d2;
    
    height: 250px;
    width: 900px;
    border-radius: 300px 300px 0px 0px;
    padding: 15px;
}

.box-two{
    background-color: #D9EFF1;
    height: 250px;
    width: 900px;
    border-radius: 300px 300px 0px 0px;
    padding: 15px;
}

.box-three{
    background-color: #E3EBDB;
    height: 250px;
    width: 900px;
    border-radius: 300px 300px 0px 0px;
    padding: 15px;
}

.box-img{
    width: 200px;
    margin-top: 70px;
    height: 195px;
}

.info-box-container{
    display: flex;
    margin: auto;
    gap: 20px;
    width: 50%;
    text-align: center;
    padding: 0px 100px 0px 100px;
}

/*  Deal Section CSS START  */

.hot-deal-container{
    margin-left: 80px;
    display: flex;
    align-items: center;
    padding: 100px;
 
}

.hot-deal-image{
    width: 50%;
}
    
section{
    margin-top: 0px;
}

/* insta section css */

.insta-section{
    text-align: center;
}

.insta-section > h2{
    font-size: 24px;
}

/* Image Box CSS */

.img-box-container{
    display: flex;
    gap: 20px;
    margin: 30px 0px 0px 200px;
}

.img-size{
    width: 150px;
   
}